/* start of global sittings */
:root {
  --main-font-color: #777;
}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans",'sans-serif';
  color: var(--main-font-color);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* End of global sittings */
/* ====================================================================================== */