/* start of global sittings */
:root {
  --main-font-color: #777;
  --main-them-color:#10cab7;
}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans",'sans-serif';
  color: var(--main-font-color);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* End of global sittings */
/* ====================================================================================== */
/* start of global component */

.grid {
  display: grid;
}

.grid--col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--col-4 {
  grid-template-columns: repeat(4, 1fr);
}
/* End of global component */

