/* start of global sittings */
:root {
  --main-font-color: #777;
  --main-them-color:#10cab7;
  --secondry-them-color:#2c4755;
  --heading-primary-color: #ebeced;
  --section-padding: 6rem;
  --section-background: #f6f6f6;
}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans",'sans-serif';
  color: var(--main-font-color);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* End of global sittings */
/* ====================================================================================== */
/* start of global component */

.grid {
  display: grid;
}

.grid--col-3-responsive {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.heading-primary {
  color: var(--heading-primary-color);
  font-size: 10rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.3rem;
  margin: 0;
  text-transform:capitalize;
}

.heading-primary-description {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  margin: -3rem 0 0 0;
  text-align: center;
}


/* End of global component */

