/* start of  header */

.header {
  padding: 2rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 6rem;
}

.header-nav {
  position: relative;
}

.header-nav-icon {
  width: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-end;
}

.header-nav-icon div {
  height: 0.2rem;
  border-radius: 10rem;
  background-color: var(--main-font-color);
  transition: var(--main-transtions-duration);
}

.header-nav-icon div:first-child {
  width: 100%;
}

.header-nav-icon div:nth-child(2) {
  width: 75%;
}

.header-nav-icon div:last-child {
  width: 100%;
}

/* transiton for the nav icon */

.header-nav-icon:hover div {
  background-color: #000;
  width: 100%;
}

/* to show && hide the nav links */

.header-nav:hover ul {
  display: block;
}

/* header navigation */

.header-nav ul {
  list-style: none;
  text-decoration: none;
  background-color: var(--section-background);
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 1.5rem);
  display: none;
}

.header-nav ul::before {
  content: "";
  position: absolute;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  right: 0.5rem;
  top: -2rem;
}

.header-nav ul li a {
  display: block;
  min-width: 20rem;
  padding: 1.5rem;
  font-size: 2.4rem;
  text-decoration: none;
  color: #333;
  transition: all var(--main-transtions-duration);
}

.header-nav ul li:not(:last-child) a {
  border-bottom: 0.1rem solid currentColor;
}

.header-nav ul li a:hover {
  padding-left: 2.5rem;
  color: var(--main-them-color);
}

/* End of  header */
/* ========================================================================================== */
/* Start of  landing section */

.section-landing {
  height: calc(100vh - 6.4rem);
  background-size: cover;
  background-image: url(../images/landing.jpg);
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text {
  width: 36rem;
  max-width: 100%;
  text-align: center;
}

.landing-primary {
  margin: 0;
  color: var(--main-them-color);
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.landing-description {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 600;
  /* text-transform: uppercase; */
  /* color: #000; */
}

/* End of  landing section */
/* ========================================================================================== */
/* Start of  features section */

.section-feature {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-feature .container {
  gap: 8.6rem;
  align-items: center;
  text-align: center;
}

.feature-icon {
  color: var(--main-them-color);
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
}

.feature-title {
  color: #000;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 3rem 0;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
  opacity: 0.7;
}

/* End of  features section */
/* ========================================================================================== */
/* Start of services section */

.section-services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services-content {
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
}

.srv {
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-start;
  gap: 2.4rem;
}

.srv-icon {
  color: var(--main-them-color);
  font-size: 2.8rem;
}

.srv-title {
  font-size: 1.8rem;
  color: #000;
  margin: 0;
  text-transform: capitalize;
}

.srv-description {
  line-height: 1.8;
  font-size: 1.2rem;
  font-weight: 400;
}

.servece-image {
  text-align: center;
  position: relative;
}

.servece-image::after {
  content: "";
  background-color: var(--secondry-them-color);
  width: 10rem;
  height: calc(100% + 10rem);
  display: block;
  position: absolute;
  top: -5rem;
  right: 2rem;
  z-index: -1;
}

.servece-image img {
  width: 26rem;
}

/* hide image in the screen under the large screen */
@media (max-width: 1199px) {
  .servece-image {
    display: none;
  }
  /* .services-content {
    grid-template-columns: repeat(2, 1fr)
  } */
}

/* End of services section *
/* ========================================================================================== */
/* Start of portfolio section */

.section-portfolio {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio-content {
  margin-top: 8.6rem;
  gap: 3.6rem;
}

.portfolio-card {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.portfolio-image {
  max-width: 100%;
}

.card-text {
  padding: 2rem;
  color: #000;
}

.card-text-title {
  margin: 0;
  font-size: 1.8rem;
}

.card-text-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 0;
}

/* End of  portfolio section */
/* ========================================================================================== */
/* Start of about section */

.section-about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 6rem);
}

.about-content {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image {
  position: relative;
  width: 25rem;
  height: 37.5rem;
}

.about-image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 8rem;
  height: calc(100% + 8rem);
  top: -4rem;
  left: -2rem;
  z-index: -1;
}

.about-image::after {
  content: "";
  width: 10rem;
  height: 30rem;
  display: block;
  position: absolute;
  border-bottom: 8rem var(--main-them-color) solid;
  top: -4rem;
  right: -13rem;
  border-left: 8rem var(--main-them-color) solid;
  z-index: -1;
}

.about-image img {
  max-width: 100%;
}

.about-text {
  flex-basis: calc(100% - 50rem);
}

.about-text p:first-of-type {
  color: #000;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 5.6rem;
}

.about-text hr {
  border-color: var(--main-them-color);
  width: 90%;
}

.about-text p:last-of-type {
  line-height: 1.8;
  font-size: 1.2rem;
  font-weight: 600;
}

/* End of  about section */
/* ========================================================================================== */
/* Start of contact section */

.section-contact {
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact-content {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact-label {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: -0.2rem;
  color: var(--secondry-them-color);
  margin-bottom: 1.5rem;
}

.contact-mail-link:link,
.contact-mail-link:active {
  font-size: 3.2rem;
  font-weight: 800;
  display: block;
  color: var(--main-them-color);
  text-decoration: none;
  margin-bottom: 2rem;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.contact-icon i {
  margin-left: 1rem;
  color: var(--secondry-them-color);
}
/* End of  contact section */
/* ========================================================================================== */
/* Start of footer  */

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondry-them-color);
  color: #fff;
}

.footer p {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.footer span {
  font-weight: 600;
  color: var(--main-them-color);
}

/* End of  footer */