@media (max-width: 991px) {
  /* About section */
  .about-content {
    flex-direction: column;
  }

  .about-image::before,
  .about-image::after {
    display: none;
  }
  .about-image {
    align-items: center;
    margin: 0 auto 5.6rem;
  }
}

@media (max-width: 767px) {
  /* servises section */
  .srv {
    flex-direction: column;
    text-align: center;
  }
  /* contact section */

  .contact-label,
  .contact-mail-link:link {
    font-size: 3rem;
  }
}